@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Outfit:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-optical-sizing: auto;
    font-size: 16px;
}

/* Header Styling */
@media screen and (max-width: 1280px){
    header ul {
        right: 0;
        height: calc(100vh - 120px);
        width: 100%;
        opacity:0;
    }
    .inActiveMobileMenu {
        top: -1250px;
        opacity: 0;
    }
    
    .activeMobileMenu{
        top: 90px;
        opacity:1;
    }
}

/* Hero Section */
.hero-section{
    min-height: calc(100vh - 250px);
}

/* About Section */
.bottom-after-border::after{
    content:'';
    position: absolute;
    width: 50px;
    height:2px;
    background: rgb(79, 70, 229);
}

.bottom-after-border-top-65-center::after{
    left: 50%;
    transform: translate(-50%, 0);
    top:65px;
    bottom:0
}

.bottom-after-border-top-50-left::after{
    left: 2px;
    bottom: -20px;
}

/* .about-section{
    background: linear-gradient(0deg, #e6eae9 10%, #ffffff 10%);
    border-radius: 50px;
} */